/* ヘッダー */
header{
  display:flex;
  justify-content: space-between;
  height:70px;
  align-items: center;
  /* max-width:1500px; */
  font-weight: bold;
  padding:0 30px;
  background:white;
  position:fixed;
  z-index: 10;
  top:0;
  left:0;
  right:0;
  max-width:1500px;
}
.h-left img{
  width:71px;
}
.h-left img:hover{
  opacity: 0.7;
  transition: .5s;
}
.h-right1__menu{
  display:flex;
  /* display:none; */
}
.h-right1__menu li{
  list-style: none;
  margin-left:30px;
}
.h-right1__menu li a{
  text-decoration: none;
  color:black;
}
.h-right1__menu li a:hover{
  opacity: 0.7;
  transition: .5s;
}
.h-right2{
  display:none;
  width:36px;
  height:32px;
  cursor: pointer;
  position:relative;
  top:0px;
  right:0px;
}
.h-right2__top,
.h-right2__middle,
.h-right2__bottom{
  display:inline-block;
  width:100%;
  height:4px;
  background:black;
  position:absolute;
  transition: 0.5s;
}
.h-right2__top{
  top:0;
}
.h-right2__middle{
  top:14px;
}
.h-right2__bottom{
  bottom:0;
}
.h-right2.open span:nth-of-type(1){
  top:14px;
  transform: rotate(45deg);
}
.h-right2.open span:nth-of-type(2){
  opacity: 0;
}
.h-right2.open span:nth-of-type(3){
  top:14px;
  transform: rotate(-45deg);
}
.h-right3 a{
  text-decoration: none;
  color:rgb(0, 98, 179);
  font-weight: normal;
  font-size: 18px;
}
.h-right3 a:hover{
  opacity: 0.8;
}
.h-right3{
  display: none;
  position:absolute;
  height:100vh;
  width:100%;
  top:100%;
  left: -100%;
  background:white;
  transition: .7s;
  text-align:center;
}
.h-right3__menu li{
  list-style-type:none;
  margin-top:50px;
}
.in{
  transform: translateX(100%);
}
/* ヘッダーレスポンシブ */
@media screen and (max-width:768px) {
  .h-right1{
    display:none;
  }
  .h-right2,
  .h-right3{
    display:block;
  }
}
/* メインタイトル１ */
.main-title__one{
  height:611px;
  background:url(../img/mv.png) no-repeat center/cover;
  width:100%;
  text-align: center;
  line-height: 1.5;
  margin-top:70px;
  padding:0 30px;
  box-sizing: border-box;
}
.main-title__one-txt{
  width:100%;
  color:white;
  padding-top:254px;
}
.main-title__one-txt h1{
  font-size:50px;
  margin-bottom:3px;
}
.main-title__one-txt p{
  font-size:18px;
  font-weight: bold;
}
/* メインタイトル２ */
.main-title__two{
  /* height:300px; */
  background:rgb(31, 31, 31);
  padding:80px 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}
.main-title__two-txt{
  width:75%;
  color:white;
  padding-top:10px;
  margin:0 auto;
}
.main-title__two-txt h1{
  font-size:30px;
  padding-bottom:30px;
}
.main-title__two-txt p{
  font-size:16px;
  line-height: 1.6;
  letter-spacing:-0.2px ;
}
@media screen and (max-width: 768px){
.main-title__two-txt{
    width: 85%;
}
}

/* サービス */
.service{
  width:75%;
  margin:0 auto 70px;
}
.service h2{
  font-size:18px;
  margin:10px 0 5px;
}
.service p{
  line-height: 1.5;
  letter-spacing:inherit;
}
.s-title{
  font-size:30px;
  text-align: center;
  margin-top:93px;
  margin-bottom:25px;
}
.s-one{
  display:flex;
  justify-content: space-between;
  margin-bottom:5px;
  /* flex-wrap: wrap; */
}
.s-one__item{
  /* width:100%;
  padding:10px; */
  width:49%;
  margin-bottom:10px;
}
.service img{
  width:100%;
}
.s-btn{
  width:300px;
  height:45px;
  line-height: 45px;
  text-align: center;
  display:block;
  background:rgb(209, 0, 0);
  text-decoration: none;
  color:white;
  font-weight: bold;
  margin:20px auto;
  cursor: pointer;
}
.s-btn:hover{
  opacity: 0.8;
  transition: .3s;
}

@media screen and (max-width:768px) {
  .s-one{
    display: block;
  }
  .s-one__item{
    width:100%;
  }
}
/* ニュース */
.news{
  height:400px;
  background:rgb(31, 31, 31);
}
.news-title{
  width:75%;
  color:white;
  padding:70px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}
.news-title h2{
  font-size:30px;
}
.news-btn{
  width:150px;
  height:35px;
  line-height: 35px;
  padding:0 5px;
  text-align: center;
  display:block;
  background:rgb(209, 0, 0);
  color:white;
  cursor: pointer;
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size:14px;
}
.news-btn:hover{
  opacity: 0.8;
  transition: .3s;
}
.news-item{
  width:75%;
  height:50px;
  background:white;
  font-size:16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px auto;
  cursor: pointer;
  padding:15px 25px;
  box-sizing: border-box;
}
.news-item:hover{
  background:rgb(192, 192, 192);
  transition: 0.7s;
}
.news-item a{
  text-decoration: none;
  color:black;
  display: inline-block;
  padding:5px 0;
}
.news-item a span{
  font-weight: bold;
  margin-left:10px;
}
/* ブログ */
.blog{
  width:75%;
  margin:0 auto 80px;
}
.b-title{
  font-size:30px;
  text-align: center;
  margin-top:93px;
  margin-bottom:25px;  
}
.b-items{
  width:100%;
  display:flex;
  justify-content: space-between;
}
.b-items__item{
  width:32%;
}
.b-items__item a{
  text-decoration: none;
  color:black;
}
.b-items__item a:hover{
  opacity: .7;
  transition: 0.8s;
}
.b-items__item p{
  margin:10px 0;
  font-size: 14px;
}
.b-items__item h2{
  font-size: 18px;
}
.b-items__item h2:hover{
  opacity: .7;
  transition: 0.8s;
}
.b-items__item img{
  width:100%;
}
.b-btn{
  width:300px;
  height:45px;
  line-height: 45px;
  text-align: center;
  display:block;
  background:rgb(209, 0, 0);
  color:white;
  margin:40px auto;
  cursor: pointer;
  text-decoration: none;
  color:white;
  font-weight: bold;
}
.b-btn:hover{
  opacity: 0.8;
  transition: .3s;
}
@media screen and (max-width:768px) {
  .b-items{
    display: block;
  }
  .b-items__item{
    width:100%;
    margin-bottom:10px;
  }
}
/* 会社概要・採用情報 */
.links{
  height:240px;
  width:100%;
  display:flex;
}
.company{
  width:50%;
  background:rgb(209, 0, 0);
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size:24px;
  font-weight: bold;
  text-decoration: none;
  color:white;
}
.company:hover{
  opacity: 0.8;
  transition: .3s;
}

.recruit{
  width:50%;
  background:rgb(31, 31, 31);
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size:24px;
  font-weight: bold;
  text-decoration: none;
  color:white;
}
.recruit:hover{
  opacity: 0.8;
  transition: .3s;
}

/* お問い合わせ */
.contact{
  margin-top:80px;
  height:330px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background:rgb(240, 242, 245);
}
.c-item{
  text-align: center;
}
.c-item h2{
  font-size:30px;
  margin-top:60px;
}
.c-item p{
  font-size:16px;
  margin:20px 0 40px;
}
.c-btn{
  width:300px;
  height:45px;
  line-height: 45px;
  text-align: center;
  display:block;
  background:rgb(209, 0, 0);
  color:white;
  margin:40px auto;
  cursor: pointer;
  text-decoration: none;
  color:white;
  font-weight: bold;
}
.c-btn:hover{
  opacity: 0.8;
  transition: .3s;
}

/* フッダー */
footer{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:60px;
  background:rgb(31, 31, 31);
  color:white;
  font-size:12px;
}
.f-left{
  padding-left:10px;
}
.f-right{
  padding-right:5px;
}
.f-right__menu{
  display:flex;
}
.f-right__menu li{
  padding:0 10px;
}
.f-right__menu li:not(:first-child){
  border-left:1px solid white;
}
.f-right__menu li a{
  text-decoration: none;
  color:white;
}
@media screen and (max-width:768px) {
footer{
  height:50vh;
}
.f-left{
  margin-left:40px;
}
.f-right{
  margin-right:40px;
}
.f-right__menu{
  display:block;
}
.f-right__menu li{
  line-height: 2;
}
.f-right__menu li:not(:first-child){
  border-left:none;
}
}